$good:   rgb(147,228,100);
$normal: rgb(255,253,121);
$sen:    rgb(230,147,76);
$all:    rgb(221,71,52);
$unH:    rgb(134,81,152);
$damage: rgb(118,32,44);

$good:   #93E464;
$normal: #FFFD79;
$sen:    #E6934C;
$all:    #DD4734;
$unH:    #865198;
$damage: #76202C;


.bg-good {
background-color: $good
}
.bg-normal {
background-color: $normal
}
.bg-sen {
background-color: $sen
}
.bg-all {
background-color: $all
}
.bg-unH {
background-color: $unH
}
.bg-damage {
background-color: $damage
}